#!/usr/bin/make -f

build-indep: build-stamp
build-arch: build-stamp
build: build-arch build-indep
build-stamp:
	dh_testdir
	touch build-stamp


clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean


install: build
	dh_testdir
	dh_testroot
	dh_prep

	# Add here commands to install the package into debian/leenus.
	install -D -m 0755 ../leenus/leenus $(CURDIR)/debian/leenus/usr/sbin/leenus
	install -D -m 0644 ../leenus/default.prf $(CURDIR)/debian/leenus/etc/leenus/default.prf
	install -D -m 0644 ../leenus/developer.prf $(CURDIR)/debian/leenus/etc/leenus/developer.prf
	install -d ../leenus/include/ $(CURDIR)/debian/leenus/usr/share/leenus/include/
	install -m 0644 ../leenus/include/* $(CURDIR)/debian/leenus/usr/share/leenus/include/
	install -d ../leenus/plugins/ $(CURDIR)/debian/leenus/usr/share/leenus/plugins/
	install -m 0755 ../leenus/plugins/custom_plugin.template $(CURDIR)/debian/leenus/usr/share/leenus/plugins/
	install -m 0644 ../leenus/plugins/README $(CURDIR)/debian/leenus/usr/share/leenus/plugins/README
	install -d ../leenus/db $(CURDIR)/debian/leenus/usr/share/leenus/db/
	install -m 0644 ../leenus/db/*.db $(CURDIR)/debian/leenus/usr/share/leenus/db/
	install -d ../leenus/db/languages $(CURDIR)/debian/leenus/usr/share/leenus/db/languages
	install -m 0644 ../leenus/db/languages/* $(CURDIR)/debian/leenus/usr/share/leenus/db/languages/
	mkdir -p ../leenus/debian/leenus/usr/share/applications/
	#install -m 0644 ../leenus/debian/leenus.desktop $(CURDIR)/debian/leenus/usr/share/applications/



# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ../leenus/CHANGELOG.md
	dh_installdocs
	dh_installmenu
	dh_installman
	dh_install
	dh_link
	dh_compress
	dh_fixperms -Xinclude
	dh_lintian -plynis
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

